/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  padding-bottom: 40px; }

.item-w100 {
  width: 100%; }

.item-w80 {
  width: 80%; }

.item-w20 {
  width: 20%; }

.inline {
  display: inline; }

.inline-item {
  vertical-align: top; }

.update-user-password {
  margin-right: 1em; }

.oauth-login-form {
  margin-top: -60px; }

.login-wrapper .remember-forgot {
  font-size: 11px;
  line-height: 13px;
  color: #999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  text-align: left; }

.perform-login-wrapper {
  margin-bottom: 5em; }

.setting-wrapper button.update-user-password {
  margin-right: 3.2em; }

.disconnect-to-facebook-wrapper button {
  margin-top: -2.5em; }

.delete-admin {
  display: none;
  visibility: hidden; }

#messageWrapper {
  bottom: 4em;
  left: 1em;
  text-align: center;
  position: fixed;
  z-index: 4444; }

#ajaxProgress {
  bottom: 1em;
  left: 1em;
  position: fixed;
  z-index: 444; }

.page-header > a {
  text-decoration: none; }
  .page-header > a:hover, .page-header > a:active {
    text-decoration: none; }
  .page-header > a > h1 {
    color: #132537; }
  .page-header > a:hover > h1, .page-header > a:active > h1 {
    color: #FA3113; }
  .page-header > a > h1 > small {
    color: #006C80; }
  .page-header > a:hover > h1 > small, .page-header > a:active > h1 > small {
    color: #EBCAB8; }

.pt50 {
  padding-top: 50px; }

.pt10 {
  padding-top: 10px; }

.pt0 {
  padding-top: 0; }

.w100 {
  width: 100%; }

.center {
  text-align: center; }

.white {
  color: #ffffff; }

.hr {
  display: inline-block;
  width: 100%;
  margin: 0.7em 0 0.7em 0;
  height: 1.5em;
  border-bottom: 2px solid #aaaaaa; }

.br {
  display: inline-block;
  width: 100%;
  margin: 0.5em 0 0.5em 0;
  height: 1em; }

.tags-title {
  float: left;
  margin-right: 0.7em;
  margin-top: 1.3em; }

.tags li {
  padding: 0;
  margin: 0 0.5em 0 0;
  list-style-type: none;
  display: block;
  float: left; }

.tags li:after {
  content: " "; }

.tags li:last-child:after {
  content: " "; }

.tags li:before {
  content: ""; }

.max-width-480 {
  max-width: 480px; }

.form-horizontal {
  margin: 1em; }

#pageTitle {
  font-size: 26px; }
