{{define "base"}}

<!DOCTYPE html>
<html lang="{{.language}}">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{.title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="{{.staticUrl}}/{{.guid}}/img/favicon.ico">
    <link rel="stylesheet" href="{{.staticUrl}}/{{.guid}}/css/application.css" />
    <link rel="apple-touch-icon-precomposed" href="{{.staticUrl}}/{{.guid}}/img/apple/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{.staticUrl}}/{{.guid}}/img/apple/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{.staticUrl}}/{{.guid}}/img/apple/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{.staticUrl}}/{{.guid}}/img/apple/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{.staticUrl}}/{{.guid}}/img/apple/apple-touch-icon-144x144-precomposed.png">
    <!--if lt IE 9
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    -->
  </head>
  <body class="uk-height-1-1">
    <!--if lt IE 8
    <p class="chromeframe">
     You are using an <strong>outdated</strong> browser .
  Please <a href='http://browsehappy.com/' title='upgrade your browser' target='_blank'> upgrade your browser</a> or
  <a href='http://www.google.com/chromeframe/?redirect=true' title='activate Google Chrome Frame' target='_blank'>activate Google Chrome Frame</a>
  to improve your experience.
</p>    -->
    <!---->
    {{template "message" .}}

    {{template "app" .}}

    <div id="fb-root"></div>
    <script data-main="{{.staticUrl}}/{{.guid}}/js/app" src="{{.staticUrl}}/{{.guid}}/bower_components/requirejs/require.js"></script>
  </body>

</html>
{{end}}
