{{define "message"}}
<div id="messageContainer">
  <div id="ajaxProgress" class="uk-hidden">
    <i class="uk-icon-spinner uk-icon-spin"></i>&nbsp;
    loading
  </div>
  <div id="messageWrapper">
    <div id="messageAlertWarning" class="uk-alert uk-alert-warning uk-hidden"></div>
    <div id="messageAlertError" class="uk-alert uk-alert-danger uk-hidden"></div>
    <div id="messageAlertInfo" class="uk-alert uk-hidden"><a href="" class="uk-alert-close uk-close"></a>
    <p>...</p></div>
    <div id="messageAlertSuccess" class="uk-alert uk-alert-success uk-hidden"></div>
  </div>
</div>
<div id="welcomeWrapper"></div>
{{end}}
