/* ==========================================================================
   list - media
   ========================================================================== */

@import 'list';

@media screen and (max-width: 400px) {
    .item-top-margin {
      margin-top: 0;
    }
}

@media screen and (min-width: 401px) and (max-width: 677px) {
    .item-top-margin {
      margin-top: 0;
    }
}

@media screen and (min-width: 678px) {
    .item-top-margin {
      margin-top: 0;
    }
}

@media screen and (max-width: 767px) {
    .item-top-margin {
      margin-top: 0;
    }
}


@media screen and (min-width: 768px) {
    .item-top-margin {
      margin-top: 90px;
    }

}
